<ul id="accounts"></ul>
<script>
    function render_account(account) {
        var node = document.createElement("li");
        node.innerHTML = `<strong>${account.id}</strong>: ${account.title}`;
        document.querySelector('#accounts').appendChild(node);
    }
    fetch("/api/accounts", { method: 'GET' })
        .then(response => response.json())
        .then(json => json.data.forEach(e => render_account(e)));
</script
